@mixin anclas {
   text-decoration: none;
   color: black;



}


.Portada {
    background-image: url("../imagen/patagonia.jpg");
    height: calc(100vh - 100px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .Contenido-Portada {
    @include anclas;
    position: absolute;
    
  }