* {
    margin: 0;
    padding: 0;
  }
  html body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    Background: linear-gradient(80deg, rgb(248, 248, 248) 1%, rgb(4, 74, 71) 35%, rgb(24, 34, 169) 100%);
  }
  