.footer i {
    margin-right: 100px;
}
/*768px hasta 1023px*/

@media (max-width:1023px) {
    /*Header*/

    .Encabezado {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .Encabezado .boton {
        display: none;
    }

    /*Banner*/

    .bannerContenido p {
        font-size: 2.5rem;
    }

    /*Destinos Chubut*/

    .destinos {
        margin: 5vh;
        font-size: 2rem;
    }

    .destinos h3,
    .destinos p {
        font-size: inherit;
    }

    .contenedorDestinos {
        grid-template-columns: 1fr 1fr;
    }

    /*Guias Neuquen*/

    .contenedorGuias {
        flex-direction: column;
    }
    
    /*Footer*/

    .footerContenido {
        flex-direction: column;
        text-align: center;
    }
}

/*Ajustes específicos para la vista móvil*/
/*0 hasta 768px*/

@media (max-width:768px) {
    /*Destinos */

    .contenedorDestinos {
        grid-template-columns: 1fr;
    }
}